matplotlib==2.0.0
numpy==1.12.0
pandas==0.19.2
plotly==2.0.5
scikit-learn==0.18.1
scipy==0.19.0
spacy==1.7.2
nltk==3.2.2
gensim==1.0.1
seaborn==0.7.1
jupyter_dashboards
folium
ipywidgets
widgetsnbextension
ipyleaflet
pythreejs
bqplot
bokeh
scrapy
jupyter_declarativewidgets